<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/x-icon" href="../images/NinerSpikeLogo.png">
   
</head>
<body>
    <header>
        <h1 class="header-title"> Niner Spikeball Network </h1>
        <nav class="header-nav">
            <ul>
                <li><a href="../index.html">Central Hub</a></li>
                <li><a href="../templates/activity_hub.html">Activity Hub</a></li>
                <li><a href="../templates/gallery.html">Gallery</a></li>
                <li><a href="../templates/members.html">Members</a></li>
                <li><a href="../templates/Q&A.html">Q&A</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li><a href="../templates/about.html">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section class="about">
            <h2>About Us</h2>
            <div class="about-content">
                <p>Niner Spikeball Network is your hub for all things Spikeball at our campus. We're passionate about promoting an active and social lifestyle through the exciting game of Spikeball. Our mission is to create a vibrant community of players who share our love for this sport. Whether you're a seasoned pro or a beginner looking to have some fun, we've got something for everyone.</p>
        
                <p>Niner spike network provides a platform for students to connect, learn about the club, and engage in casual play. We organize regular events that encourage outdoor activities, friendly competition, and, most importantly, building lasting friendships. We believe that the thrill of Spikeball is best experienced with friends, old and new.</p> 
                
                <p>Join us to stay updated on upcoming Spikeball events, access club information, and meet like-minded individuals who share your enthusiasm. Niner Spikeball Network is more than just a club; it's a community that's all about enjoying the great outdoors, staying active, and creating unforgettable memories. Let's get outside, embrace the competitive spirit, and make every day a Spikeball day!</p>
                <img src="../images/about_us.png" alt="Activity Image">
            </div>
        </section>
        
    </main>





<footer>
    © Niner Spikeball Network | all rights reserved.
</footer>