<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/x-icon" href="../images/NinerSpikeLogo.png">
   
</head>
<body>
    <header>
        <h1 class="header-title"> Niner Spikeball Network </h1>
        <nav class="header-nav">
            <ul>
                <li><a href="../index.html">Central Hub</a></li>
                <li><a href="../templates/activity_hub.html">Activity Hub</a></li>
                <li><a href="../templates/gallery.html">Gallery</a></li>
                <li><a href="../templates/members.html">Members</a></li>
                <li><a href="../templates/Q&A.html">Q&A</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li><a href="../templates/about.html">About Us</a></li>
            </ul>
        </nav>
    </header>

<main class="content">
    <h2>Activity Hub</h2>
    <div class="boxes">
        <section class="box casual-box">
            <h2>Casual Play</h2>
            <p>Casual Play serves as a platform for UNCC students seeking a more relaxed and informal Spikeball experience, catering to those who prefer a non-professional setting. It offers an opportunity for 49er students to connect, socialize, and have fun while engaging in Spikeball activities. </p>
            <img src="../images/casual_play.png" alt="Activity Image">
            <a href="../templates/casual.html" class="button">Casual Fun</a>
        </section>
        <section class="box club-box">
            <h2>49er Club Information</h2>
            <p>View details regarding upcoming practices, games, and events. Learn more about the club and how to join if interested.</p>
            <img class="club-play-img" src="../images/club_play1.png" alt="Activity Image">
            <a href="../templates/club.html" class="button">Club Info</a>
        </section>
        <section class="box event-box">
            <h2>Future Events</h2>
            <p>View upcoming information about future events hrld by the UNCC spikeball tean, as well as from events coordinated by Spikeball themselves!</p>
            <img src="../images/events.png" alt="Activity Image">
            <a href="../templates/events.html" class="button">More Events</a>
        </section>
    </div>
</main>



<footer>
    © Niner Spikeball Network | all rights reserved.
</footer>