<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" type="image/x-icon" href="../images/NinerSpikeLogo.png">
   
</head>
<body>
    <header>
    <h1 class="header-title">-_- Niner Spikeball Network -_-</h1>
    <nav class="header-nav">
        <ul>
            <li><a href="../index.html">Central Hub</a></li>
            <li><a href="../templates/activity_hub.html">Activity Hub</a></li>
            <li><a href="../templates/gallery.html">Gallery</a></li>
            <li><a href="../templates/members.html">Members</a></li>
            <li><a href="../templates/Q&A.html">Q&A</a></li>
        </ul>
    </nav>
</header>






<footer>
    © Niner Spikeball Network | all rights reserved.
</footer>